[tool.poetry]
name = "pubweb"
version = "0.3.6"
description = "CLI tool and SDK for interacting with the PubWeb platform"
authors = ["Fred Hutch <viz@fredhutch.org>"]
license = "MIT"
readme = "README.md"
packages = [{include = "pubweb"}]

[tool.poetry.dependencies]
python = "^3.8"
click = "^8.1.3"
boto3 = "^1.20.0"
questionary = "^1.10.0"
requests = "^2.27.1"
requests_aws4auth = "^1.1.2"
pycognito = "^2022.1.0"
tqdm = "^4.62.3"
pygithub = "^1.55"
jsonschema = "^4.6.1"
gql = {extras = ["requests"], version = "^3.4.0"}
pandas = "^1.5.0"
s3fs = "^2022.8.2"

[tool.poetry.group.dev.dependencies]
pytest = "^7.1.3"
pytest-cov = "*"
flake8 = "*"

[tool.poetry.scripts]
pubweb-cli = "pubweb.cli.cli:main"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
