[tool.poetry]
name = "cirro"
version = "0.6.9"
description = "CLI tool and SDK for interacting with the Cirro platform"
authors = ["Fred Hutch <cirro@fredhutch.org>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/FredHutch/Cirro-client"
packages = [{include = "cirro"}]

[tool.poetry.dependencies]
python = "^3.8"
click = "^8.1.3"
boto3 = "^1.24.0"
questionary = "^1.10.0"
requests = "^2.28.0"
requests_aws4auth = "^1.1.2"
pycognito = "2022.12.0"
tqdm = "^4.62.3"
pygithub = "1.58.0"
jsonschema = "^4.6.1"
gql = {extras = ["requests"], version = "^3.4.0"}
pandas = "^1.5.0"
s3fs = "2023.1.0"
pyjwt = "^2.4.0"
msal-extensions = "^1.0.0"

[tool.poetry.group.dev.dependencies]
pytest = "^7.1.3"
pytest-cov = "*"
flake8 = "*"

[tool.poetry.scripts]
cirro-cli = "cirro.cli.cli:main"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
