[tool.poetry]
name = "cirro"
version = "1.2.1"
description = "CLI tool and SDK for interacting with the Cirro platform"
authors = ["Cirro Bio <support@cirro.bio>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/CirroBio/Cirro-client"
packages = [{include = "cirro"}]

[tool.poetry.dependencies]
python = "^3.9"
attrs = ">=21.3.0"
cirro_api_client = "0.1.0"
click = "^8.1.3"
boto3 = "~=1.34"
questionary = "^2.0.1"
requests = "^2.31.0"
tqdm = "^4.62.3"
jsonschema = "^4.21.1"
pandas = "^2.2.0"
s3fs = "2024.2.0"
pyjwt = "^2.7.0"
msal-extensions = "^1.0.0"

[tool.poetry.group.dev.dependencies]
pytest = "^7.1.3"
pytest-cov = "*"
flake8 = "*"
pdoc = {git = "https://github.com/nathanthorpe/pdoc.git", rev = "fix-link-when-exported"}

[tool.poetry.scripts]
cirro-cli = "cirro.cli.cli:main"
cirro = "cirro.cli.cli:main"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
